.smart-jackpots {
    display: flex;
    justify-content: space-between;
    padding: 60px 20px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
}

.left {
    flex: 1;
    min-width: 300px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: start;
}

.box.red,
.box.purple {
    transform: translateY(-40px);
}


.box {
    background: #fff;
    padding: 10px 5px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    cursor: pointer;
}

.box:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.orange h2 {
    color: #EF9E48;
    font-size: 72px;
    font-weight: 700;
    font-family: 'DM Sans';

}

.red h2 {
    color: #FF753A;
    font-size: 72px;
    font-weight: 700;
    font-family: 'DM Sans';

}

.pink h2 {
    color: #FA578E;
    font-size: 72px;
    font-weight: 700;
    font-family: 'DM Sans';

}

.purple h2 {
    color: #E682FF;
    font-size: 72px;
    font-weight: 700;
    font-family: 'DM Sans';

}

.box p {
    color: #555;
    font-size: 14px;
    margin-top: 8px;
}

.right {
    flex: 1;
    padding: 20px 40px;
    min-width: 300px;
    text-align: left;
}

.sub {
    color: #f7931e;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: 'DM Sans';

}

.title {
    font-size: 48px;
    font-weight: 700;
    color: #1e2a37;
    margin-bottom: 20px;
    font-family: 'DM Sans';

}

.desc {
    color: #666;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 25px;
    font-weight: 400;
    font-family: 'DM Sans';


}

.explore-btn {
    background: #ffe9cc;
    color: #EF9E48;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.explore-btn:hover {
    background: #fdd8a6;
}

/* Scroll target section */
.next-section {
    padding: 80px 20px;
    text-align: center;
    background: #f0f7ff;
    font-family: 'Helvetica Neue', sans-serif;
}

@media (max-width: 768px) {
    .smart-jackpots {
        flex-direction: column;
        text-align: center;
    }

    .right {
        padding: 30px 0;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}